
@import "fonts";
@import "libs";
@import "vars";

/*====================== MAIN =============================================================*/
*::-webkit-input-placeholder{
	color: #777;
	opacity: 1;
}

*:-moz-placeholder{
	color: #666;
	opacity: 1;
}

*::-moz-placeholder{
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder{
	color: #666;
	opacity: 1;
}
*{
	box-sizing:border-box;
	outline:none;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: #666;
}
body input:required:valid,
body textarea:required:valid{
	color: #666;
}

html, body{
	height: 100%;
}

body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
}

.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}


[class*=fa] {
 display: inline-block;
 font: normal normal normal 14px/1 FontAwesome;
 font-size: inherit;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 transform: translate(0, 0);
}

ul{
	margin:0;
	padding:0;
}

li{
	list-style-type:none
}

a{
	text-decoration:none;
}

h1, h2, h3, h4, h5{
	margin:0;
}
.ov-h{
	overflow:hidden;
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}


@import "media"; // Всегда в конце
